.field {
  width: 90vmin;
  height: 75vmin;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.02);
  margin: auto;
  border-radius: 10px;
  box-shadow: inset 0px 0px 1vw rgba(0, 0, 0, 0.2);
}
.button {
  margin-left: 1vmin;
  width: 14vmin;
  height: 7vmin;
  border: none;
  border-radius: 1vmin;
  box-shadow: inset 0px 0px 1vw rgba(0, 0, 0, 0.6);
}
.info {
  font-size: 3vmin;
}
.red {
  background-color: rgba(255, 0, 0, 0.3);
}
.green {
  background-color: rgba(0, 128, 0, 0.3);
}
